<div class="container-fluid"></div>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ml-2">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2 ms-2">
        Wings
      </a>
      <form action="" class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0">
        <input type="search" name="searchTerm"  class="form-control border-primary" placeholder="Search ..." aria-label="Search">
      </form>

      <div class="col-md-3 text-end">
        <a href="/add-mobile" type="button" class="btn btn-outline-primary me-2">Add+</a>
      </div>
    </header>
  </div>